body{background-color:pink;
.bordered width: 200px; height: 100px; padding: 20px; border: 10px solid yellowgreen;}
p{color: green;font-family: Arial;}
h1{color: purple; font-family:Aharoni;}
h3{color: blue; font-family:Garamond;}
ul{
  list-style-type: lower-roman; 
  color: yellow;
  font-family:"Iskoola Pota";
}
hr{color: white;}
table{color:pink; background-color:blue; font-family:Arial;}

	
